<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">

      <h3 class="center">Calculadora</h3>

      <form>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">1#</span>
          </div>
          <input name="n1" [(ngModel)]="n1" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">2#</span>
          </div>
          <input name="n2" [(ngModel)]="n2" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <button (click) = "calcular()" type="button" class="btn btn-dark">Calcular</button>

      </form>
      <br>
      <table class="table table-striped center">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Formula</th>
            <th scope="col">Resutado</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>

        <tr *ngFor="let conta of results; let i = index">
          <td>{{i+1}}</td>
          <td>{{conta.n1}} + {{conta.n2}}</td>
          <td>{{conta.result}}</td>
          <td>
            <button (click) = "editar(conta)" type="button" class="btn btn-info"><i class="fas fa-marker"></i></button>
          </td>
          <td>
            <button (click) = "excluir(i)" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
          </td>
        </tr>

      </table>

    </div>
    <div class="col-sm"></div>
  </div>
</div>
