<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-md bg-info">
      <a routerLink = "/" class="nav-link text-white"> Home </a>
      <a routerLink = "calculadora" class="nav-link text-white"> Calculadora </a>
      <a routerLink = "teste"class="nav-link text-white"> Teste </a>
      <a routerLink = "#" class="nav-link text-white"> IMC </a>
      <a routerLink = "#" class="nav-link text-white"> Cadastro Pessoa </a>
    </nav>
  </header>
</div>
<br/>
<router-outlet></router-outlet>
